# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Images
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Text files
*.txt

# Hide README files
README.md

# Logs
*.log

# Node
node_modules/

# VS Code
.vscode/

# Secrets
secret/
keys/


